@using VehicleFinder.Models
@model Vehicle
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.VehicleMake</h2>
<h2>@Model.VehicleModel</h2>
<h2>@Model.VehicleYear</h2>

<img src="@Model.ImageUrl" alt="@Model.VehicleModel image" height="300">

