@using VehicleFinder.Models
@model Vehicle
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.VehicleYear  @Model.VehicleMake @Model.VehicleModel</h2>

<img src="@Model.ImageUrl" alt="@Model.VehicleModel image" height="600">

